body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
}

section {
    display: flex;
}

.half-header {
    width: 50%;
    padding-left: 5%;
}

.half-header img {
    width: 90%;
}